.mgp-header {
  height: 56px;
  padding: 0 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1b1b1b;

  border-bottom: 1px solid #2d2d2d;
}

.mgp-logo {
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: .3px;
}

.mgp-logo span {
  color: #6aa9ff;
}

.mgp-settings {
  width: 34px;
  height: 34px;

  border: none;
  border-radius: 8px;

  background: transparent;

  color: white;

  cursor: pointer;

  transition: .2s;
}

.mgp-settings:hover {
  background: #2b2b2b;
}